#projectreferencefiles
notes/

#npm
node_modules/

#parcel
.cache
dist/

#firebase
/.firebase

firebase-debug.log
firebase-debug.*.log

#vscode
*.code-workspace
.vscode/

#other
.env
.DS_Store
coverage/
