@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  /* mini reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
}

:root {
  /* Primary Colours */
  --full-slider-bar: hsl(174deg 77% 80%);
  --slider-background: hsl(174deg 86% 45%);
  --discount-background: hsl(14deg 92% 95%);
  --discount-text: hsl(15deg 100% 70%);
  --cta-text: hsl(226deg 100% 87%);
}

body {
  /* https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j */
  height: 100vh;
  width: 100vw;
}

#root {
  /* react #root div will fill the entire page and can be manipulated by js as if it were body
  (see article in body above) */
  height: 100%;
  width: 100%;

  /* this fixes a bug where the page doesnt paint fully in some small dimension but may cause a different bug where flex containers dont overflow correctly in other small dimensions - try excising it early in fixing css bugs */
  overflow: auto;

  /* flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* font */
  font-family: Manrope, sans-serif;
}

.test {
  color: var(--cta-text);
  background-color: var(--full-slider-bar);
}
